@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.cdnfonts.com/css/codec-cold');
*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth; /* Activa el scroll suave para toda la página */
  }
.vitrina{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 200;
}

.container_img{
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 300;
    position: absolute;
   
}
video{
    
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Haz que el video tenga el 100% de la altura del contenedor */
  object-fit: cover;
    position: absolute;
    z-index: 1;
}

.logo{
   border: none;
   border-radius: 200px;
   margin-top: 130px;
    
}


.a{
    position: relative; /* Necesario para posicionar el video absolutamente dentro */
 
    overflow: hidden;
    width: 100%;
    height: 100vh;
    
}
.b{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.seccion_productos{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.sabias_que_seccion{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
   
}
.e{
    width: 100%;
    height: 30vh;
    background-color: black;
}

.imagenes{
    width: 100%;
  
    display: flex;
    justify-content: space-between;
   

    
}

h3{

    text-align: center;
    margin-top: 100px;
    font-family: 'Rockhaven', sans-serif;
    font-size: 25px;
}
.gorras{
    width: 400px;
    height: 400px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
    
}
.gorras:hover{
    transform: scale(1.3);
    transition: all .5s;
    cursor: pointer;
}


h3:hover{
    cursor: pointer;
}
.container_texto{
   display: flex;
   justify-content: space-between;
  

}
.texto{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    height: 50%;
    width: 50%;

    font-family: 'Codec Cold', sans-serif;
    font-size: 32px;
    margin-left: 150px;
}
.texto h2{
    margin-bottom: 40px;
    font-family: 'Rockhaven', sans-serif;
}

.texto div{
    background-color: aqua;
    margin-right: 100px;

    background-color: antiquewhite;
  
}



.perezoso_img{
    width: 400px;
    height: 550px;

    border-radius: 20px;
    margin-right: 200px;
}
p{
    width: 100%;
}


h1{
    font-family: 'Rockhaven', sans-serif;
    margin-bottom: 40px;
}

.footer{
    position: absolute;
    display: flex;
    align-items: center;
}
.footer img{
  background-color: rgb(0, 0, 0);
    z-index: 500;
    bottom: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
}

.datos{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 29px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
}
.datos p i{
   margin-right: 20px;
}