@media (max-width: 728px) {
    .container_img{
        margin-top: -90px;
    }


    .gorras{
       
        overflow: hidden;
        transition: transform 0.5s ease-in-out;
        overflow: hidden;
   
        
        
    }
   

    





  }