@media (max-width: 728px) {
    .container_img{
        margin-top: -90px;
    }


    .gorras{
       
        overflow: hidden;
        transition: transform 0.5s ease-in-out;
        overflow: hidden;
   
        
        
    }
   
    .sabias_que_img{
        display: none;
    background-color: rgb(0, 0, 0);
    width: 100%;
    
       
    
        
    }
    
    .sabias_que_seccion{
        width: 100%;
        height: 72vh;
        background-color: rgb(138, 112, 112);
        color: white;
        display: flex;
        flex-direction: column;

    
       
    }
    .parrafo_d{
        display: block;
        width: 100%;
        
    }
   p{
        width: 100%;
        padding: 30px;

    }
    .texto{
         display: flex;
    flex-direction: column;
    margin-left: 0px;
    height: 100%;
    overflow: hidden;
    width: 100%;
    font-family: 'Rockhaven', sans-serif;
    font-size: 22px;
    background-color: rgb(0, 0, 0);
    
  
    }
    h2{
        padding: 10px;
    }
   
   .imagenes{
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-between;
    margin-top: 150px;
   }





   .gorras{

    width: 200px;
    height: 200px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
   
    
}
h3{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.footer{
    height: 28vh;
    position: absolute;
    display: flex;
    align-items: end;
    border-top: 1px solid rgb(37, 37, 37);
}


.footer img{
  background-color: rgb(0, 0, 0);
    z-index: 500;
    bottom: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
}

.datos{
    display: block;
    margin-bottom: 50px;
    color: white;
    font-size: 19px;
    background-color: rgb(0, 0, 0);
    padding: 5px;

}
.datos p i{
   margin-right: 20px;
}
.datos_p{
   
 
    padding: 5px;
}




  }